name: "Test"
on:
  pull_request:
jobs:
  nix:
    name: 'Nix'
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out code
        uses: actions/checkout@v2.3.4
        with:
          # Check out pull request HEAD instead of merge commit.
          ref: ${{ github.event.pull_request.head.sha }}
          submodules: recursive

      - name: Install Nix
        uses: cachix/install-nix-action@v12

      - name: Install Cachix
        uses: cachix/cachix-action@v8
        with:
          name: runtimeverification
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'

      - name: Build
        run: nix-build -A isolc
